@font-face { font-family: typewriter; src: url('fonts/1942.ttf'); } 

.card {
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin: 10px;
  display: inline-block;
}

.hand {
  overflow: auto;
}

body {
  background-image: url("../app/blackFlowers.png");
  color: white;
  font-family: typewriter, sans-serif;
}

.bettor {
  color: #FF0000 ;
}

.player-hand-container, .dealer-hand-container {
  text-align: center;
}